<div class="p-5">
  
<!--   <h1 class="display-5">

        Say hi 
        <fa-icon [icon]="['fab','discord']"></fa-icon>

        </h1> -->


<div class="row">
    <div class="col-8">
        
        <h1 class="">Join our awesome community!</h1>
        <h1>  
            <fa-icon [icon]="['fab','discord']"></fa-icon> 
            <fa-icon [icon]="['fab','instagram']"></fa-icon> 
            <fa-icon [icon]="['fab','facebook']"></fa-icon> 
            <fa-icon [icon]="['fab','reddit']"></fa-icon>
            </h1>
         
            <h1 class="muted end">
                Copyright © 2021 moviemania. All Rights Reserved
            </h1>


    </div>
    <div class="col-4">
         
        <div class="row">

            <div class="col-6">
                <ul class="">
            
                    <li class="top">SERVICE</li>
                    <li>Download</li>
                    <li>Feedback</li>
                    <li>Bug Report</li>
        
                </ul>
            </div>

            <div class="col-6">
                <ul class="">
            
                    <li class="top">ACCOUNT</li>
                    <li> <a href="#">Profile</a> </li>
                    <li>Purchases</li>
                    <li>Privacy</li>
        
                </ul>
            </div>
            


        </div>
        
        
        
    </div>

    


    
</div>

</div>