footer{

    background-color:rgb(255, 194, 102);
    
    position: absolute;
    bottom: 0;
    
    width: 100%;
    
    position:sticky;
    top: 100%;
    
    
    
    
    
    }
    
body{
    min-height:100vh;
    background-color: rgb(95, 168, 150);
    }


a{
    font-family: 'Abel', sans-serif;
}


.navbar{

    background-color:rgb(255, 231, 124);
    color:rgb(0, 0, 0);
}