<style>
  a{
    font-size:1.5rem;
    font-weight: bolder;
  }
</style>
<body>

<!-- Navbar -->
  <header>
    <nav class="nav-pills navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MOVIEMANIA</a>   <!--side Title-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar Items-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2">
            <li class="nav-item">
              <a class="nav-link "  routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink='movies' routerLinkActive="Active">movies</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link " routerLink = 'shows' routerLinkActive="Active">shows</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLink = 'watchlist' routerLinkActive="Active">watchlist</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLink = 'login' routerLinkActive="Active">login</a>
            </li>
          </ul>


          <!--Search bar-->
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
 
<div>
<router-outlet></router-outlet>
</div>


<!--Footer-->

<footer class="footer">
  <app-footer> 
  </app-footer>
</footer>

</body>