img
{
    width: 300px;
    display: block;
    margin: auto;
}


.card{

    background-color: rgb(253, 119, 119);
}


img{

    border: 25px solid;
    border-color: rgb(107, 206, 132);
}

h3{

    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-style: bolder;
    padding-top: 20px;
}